<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huifangyuan.app.mapper.ProductCatMapper" >
  <resultMap id="BaseResultMap" type="com.huifangyuan.app.domain.ProductCat" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="show_status" property="showStatus" jdbcType="INTEGER" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
    <select id="selectProductCatByshopId" resultMap="BaseResultMap">
      select * from pms_product_category where `level`=1 and shop_id=#{shopId}
    </select>
  <select id="selectProductCatByShopId" resultType="java.lang.Long">
    select p.parent_id from pms_product_category p where shop_id=#{shopId}
  </select>
  <select id="selectAllProductCat" resultMap="BaseResultMap">
   select * from pms_product_category WHERE `level` = 1 ORDER BY shop_id DESC
  </select>
  <select id="getCateByLevel" resultType="com.huifangyuan.app.domain.ProductCat">
    SELECT name from pms_product_category where level=0
  </select>

  <select id="getAllLevelIsZero" resultMap="BaseResultMap">
	SELECT distinct pc.parent_id,pc.`name`,pc.show_status,pc.sort from pms_product_category pc WHERE `level`=0  LIMIT 0,8
  </select>


</mapper>