<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huifangyuan.app.mapper.SearchMapper">


    <select id="HomeSeekProduct" resultType="com.huifangyuan.app.domain.Product" parameterType="String">
        SELECT * from pms_product WHERE delete_status = 0 AND publish_status = 1 AND stock > 0
        AND concat(`name`,',',keywords,',',product_category_name) like #{keywords}/*%在service层加了*/
    </select>
</mapper>