<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huifangyuan.app.mapper.ShopInfoMapper">





    <select id="getShopInfoByPrimaryKey" parameterType="long" resultType="com.huifangyuan.app.vo.ShopInfoVo">
        select usi.id shopId, usi.name, usi.province, usi.city, usi.borough,
    usi.lng, usi.lat, usi.phone, usf.id facilityId, usf.title, usf.description from ums_shop_information usi
        inner join ums_shop_facility usf on usi.id = usf.shop_id
    where usi.id = #{shopId}
  </select>

</mapper>